[submodule "data"]
	path = data
	url = https://github.com/seandepagnier/climatology_pi_data
[submodule "opencpn-libs"]
	path = opencpn-libs
	url = https://github.com/leamas/opencpn-libs.git
	branch = devel
